<footer class="footer footer-white"style="">
  <div class="container">
    <a class="footer-brand" href="/"><img src="" style="
width: 80px;
margin-bottom: 30px;
"></a>
    <ul class="pull-center">
      <li>
        <a href="/">
          Accueil
        </a>
      </li>
      <li>
        <a href="/">
          Chercher un trajet
        </a>
      </li>
      <li>
        <a href="/proposer">
          Proposer un trajet
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/marouen-kanoun-627a947b/">
          Contacter nous
        </a>
      </li>
    </ul>
    <ul class="social-buttons float-right">
      <li>
        <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-dribbble">
          <i class="fa fa-dribbble"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-google">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
