<nav class="navbar bg-white navbar-expand-lg  height" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand font-weight-bold" href="/"style="color:#112D4E;font-size:20px;">
        <img src="" style="
    width: 80px;
    margin-bottom: 30px;
"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon" ></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
      <% if (typeof user != 'undefined') { %>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a href="/" class=" nav-link"style="color:#112D4E;font-size:15px;">
            Accueil
          </a>
        </li>
        <li class="dropdown nav-item">
            <button style="color:white;background-color:#3F72AF;"type="button" onclick="location.href='/proposer'" class="btn nav-link">Proposer un trajet</button>

        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
           <%= user.prenom %>
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a href="/user/profile" class="dropdown-item">
              <i class="material-icons">face</i> Profile
            </a>
            <a href="/user/mestrajets" class="dropdown-item">
              <i class="material-icons">directions</i> Trajets
            </a>
            <a href="/user/mesreservations" class="dropdown-item">
              <i class="material-icons">check</i> reservations
            </a>

          </div>
        </li>
        <li class="dropdown nav-item">
          <a href="/user/logoff" class=" nav-link"style="color:#112D4E;font-size:15px;">
            Déconnection
          </a>
        </li>

      </ul>
    </div>
    <% }else { %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="/index" class=" nav-link"style="color:#112D4E;font-size:15px;">
              Accueil
            </a>
          </li>
          <li class="dropdown nav-item">
              <button style="color:white;background-color:#3F72AF;"type="button" onclick="location.href='/proposer'" class="btn nav-link">Proposer un trajet</button>

          </li>
          <li class="dropdown nav-item">
            <a href="/user/login" class=" nav-link"style="color:#112D4E;font-size:15px;">
               Se connecter
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="/user/register" class=" nav-link"style="color:#112D4E;font-size:15px;">
               Créer un compte
            </a>
          </li>


        </ul>
      </div>
      <% } %>
  </div>
</nav>
