<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test car tmp</title>
  </head>
  <body>
    <form class="" action="/testcar" method="post"><br>
      <input type="text" name="mat" placeholder="matricule"><br>
      <input type="text" name="model" placeholder="marque"><br>
      <input type="number" name="places" placeholder="nombre de places"><br>
      <input type="text" name="etablissement" placeholder="etablissement"><br>
      <input type="text" name="remarque" placeholder="remarque"><br>
      <input type="submit" name="submit" >
    </form>
  </body>
</html>
